<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ if .Data.Title }} &ndash; {{ .Data.Title }}{{ end }}{{ end }}</title>

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Istok+Web|Open+Sans:400,700|Rubik&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.6/lunr.min.js"></script>
  {{ if not .Site.BuildDrafts }}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71455536-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-71455536-1');
  </script>
  {{ end }}
  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}
</head>
<body>
<div id="page-container">
 <div id="content-wrap">
  {{ block "header" . }}{{ partial "header" . }}{{end}}
  {{ block "main" . }}{{end}}
 </div>
  {{ block "footer" . }}{{ partial "footer" . }}{{end}}
  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}
</div>
</body>
</html>