<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end -}}">
  {{ if .Params.addSocialPreview }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
  {{ end }}
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <title>{{ block "title" . }}{{ .Site.Title }}{{ if .Data.Title }} &ndash; {{ .Data.Title }}{{ end }}{{ end }}</title>

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Istok+Web|Open+Sans:400,700|Rubik&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.6/lunr.min.js"></script>
  {{ if not .Site.BuildDrafts }}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JDLGW1172L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JDLGW1172L');
  </script>
  {{ end }}
  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  {{ end }}
</head>
<body>
<div id="page-container">
 <div id="content-wrap">
  {{ block "header" . }}{{ partial "header" . }}{{end}}
  {{ block "main" . }}{{end}}
 </div>
  {{ block "footer" . }}{{ partial "footer" . }}{{end}}
  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#edeff5",
          "text": "#444444"
        },
        "button": {
          "background": "#ffa400",
          "text": "#fff6f7"
        }
      },
      "theme": "classic",
      "position": "bottom",
      "type": "opt-in",
      "content": {
        "href": "https://www.zaproxy.com/cookies"
      }
    });
    </script>
  {{ end }}
</div>
</body>
</html>
