{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}
{{ define "main" }}
  <div class="wrapper py-70">
      <div class="flex latest-versions">
        <div class="col-2-3">
            {{ range .Pages }}
            <article>
              <h2>{{ .Title }}</h2>
              {{ .Content }}
            </article>
          {{ end }}
        </div>
        <div class="col-1-3">
          {{ block "sidebar" . }}{{ partial "blog/sidebar" . }}{{end}}
        </div>
      </div>
  </div>
{{ end }}