version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
  groups:
    dependencies:
      applies-to: version-updates
      update-types:
      - "minor"
      - "patch"
      patterns:
      - "*"
- package-ecosystem: "github-actions" # See documentation for possible values
  directory: "/" # Location of package manifests
  schedule:
    interval: "weekly"
  groups:
    dependencies:
      applies-to: version-updates
      patterns:
      - "*"
