{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}
{{ define "main" }}
<section class="bolt-header">
   <div class="wrapper py-20">
      <h1 class="text--white">{{ .Title }}</h1>
   </div>
</section>
<div class="wrapper py-70">
   {{ .Content }}
   <div class="flex latest-versions">
      <table data-sort-filter>
         <thead>
            <tr>
               <th>Id</th>
               <th>Alert</th>
               <th data-suggest>Status</th>
               <th data-suggest>Risk</th>
               <th data-suggest>Type</th>
               <th class='th-non-mobile'>CWE</th>
               <th class='th-non-mobile'>WASC</th>
            </tr>
         </thead>
         <tbody>
            {{ range (.Pages.ByParam "alertindex") }}
               <tr>
                  <td><a href="{{ .Permalink }}">{{ .Params.alertid }}</a></td>
                  <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                  <td>{{ .Params.status }}</td>
                  <td>{{ .Params.risk }}</td>
                  <td>{{ .Params.alerttype }}</td>
                  <td class='td-non-mobile'>{{ .Params.cwe }}</td>
                  <td class='td-non-mobile'>{{ .Params.wasc }}</td>
               </tr>
            {{ end }}
         </tbody>
      </table>
   </div>
</div>
{{ end }}
