<section class="py-70">
  <div class="wrapper">
      <dl class="homepage-accordion__item js-badger-accordion">
    {{ $headless := .Site.GetPage "homepage/accordion" }}
    {{ $reusablePages := $headless.Resources.Match "*" }}
    {{ range $reusablePages }}

        <dt class="homepage-accordion__item__title">
            <button class="js-badger-accordion-header">{{ .Title }} </button>
        </dt>
        <dd class="badger-accordion__panel js-badger-accordion-panel">
          <div class="homepage-accordion__item__content jc-sb js-badger-accordion-panel-inner">
              <div class="homepage-accordion__item__content-text">
              {{ .Content }}
              </div>
              <div class="homepage-accordion__item__content-image no-shrink">
                  {{ $svg := (printf "%s%s" "svg/homepage/accordion/" .Params.image) }}
                  {{partial  $svg }}
              </div>
            </div>
        </dd>

    {{ end }}
  </dl>
  </div>
  </section>
