<section class="py-70">
  <div class="wrapper">
    {{ $headless := .Site.GetPage "homepage/accordion" }}
    {{ $reusablePages := $headless.Resources.Match "*" }}
    {{ range $reusablePages }}
      <div class="homepage-accordion__item">
        <div class="homepage-accordion__item__title">
          <h4 class="text--blue">{{ .Title }}</h4>
        </div>
        <div class="homepage-accordion__item__content jc-sb">
          <div class="homepage-accordion__item__content-text">
          {{ .Content }}
          </div>
          <div class="homepage-accordion__item__content-image no-shrink">
              {{ $svg := (printf "%s%s" "svg/homepage/accordion/" .Params.image) }}
              {{partial  $svg }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  </section>
