<section class="py-70">
  <div class="wrapper">
    {{ with .Site.Data.homepage.companies }}
    <div class="companies flex">
      <div class="companies__content pr-70 on-sm-rp">
        <h3>{{.title}}</h3>
        <p>{{ .description }}</p>

        {{ range .text}}
        <p class="small">{{ . }}</p>
        {{ end }}

        <div class="companies__logos flex ai-c jc-sa py-70 on-sm-stack">
          {{ range .logos }}
          <div class="companies__logo-item">
            <img src="/img/home/companies/{{ . }}.png" />
          </div>
          {{ end }}
        </div>
      </div>
      <div class="companies__illustration no-shrink">
        {{ partial "svg/homepage/companies/building-hug.svg" }}
      </div>
    </div>

    {{ end }}
  </div>
</section>
