@use "node_modules/badger-accordion/dist/badger-accordion.scss";

.accordion__item__title {
  button {
    height: 44px;
    font-size: 22px;
    color: var(--blue);
    border: none;
    background: none;

    &.-ba-is-active {
      color: var(--orange);
    }
  }

  &:not(:first-child) {
    border-top: solid 1px var(--blue-border);
  }
}

.accordion__item__arrow {
  background: var(--blue-dark);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 16px;
}

.accordion__item__content {
  display: flex;
}


.accordion__item__content-image {
  width: 396px;
  height: 276px;
}

.accordion__item__content-text{
  border-top-left-radius: 4px;
  background: var(--blue--lightest);
  background: linear-gradient(90deg, rgba(244,250,255,1) 75%, rgba(255,255,255,1) 100%);
  padding: 20px 30px;
  margin: 20px -23px 0px 0;
}


dd {
  margin-left: 0px;
}


@media screen and (max-width: 650px) {
  .accordion__item__content {
    display: block;
  }

  .accordion__item__content-image {
    display: none;
  }
}