.breadcrumbs {
    list-style: none;
    padding: 0;
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    a{ 
        text-decoration: none;
        color: var(--blue-grey);
    }

    li {
        display: inline-block;
        
        &:after {
            content: " > ";
        }

        &:last-child:after {
            content: "";
        }
    }
}
