{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}
{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<section class="bolt-header">
  <div class="wrapper py-20">
    <h1 class="text--white">{{ .Title }}</h1>
  </div>
</section>

<div class="wrapper py-70" data-kind="{{ .Kind }}">
    <div class="flex latest-versions">
      <article class="col-2-3 pr-30 content single-post">
          <div class="breadcrumbs">
              <a href="/blog/">The ZAP Blog</a>
          </div>

          <main class="post-content">
            <section class="p-10 bg--blue-lightest mb-10 mt-10 smaller-text text--blue-dark">
              Posted <span class="post-date">{{ .Date.Format "Monday January 2, 2006" }}</span>
              <span class="word-count fl-r"> {{ .WordCount }} Words </span>
            </section>
            {{ .Content }}
          </main>
          <div class="next-content bg--blue-lightest p-10">
              {{ with .PrevInSection }}
                Previous <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
              {{ end }}
              {{ with .NextInSection }}
                Next <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
              {{ end }}
          </div>
      </article>
      <aside class="col-1-3">
        <section class="post-meta">
          {{ if isset .Params "authors" }}
          
          <div class="post-authors">
            {{ range $name := .Params.authors }}
            {{ $author := index $.Site.Data.authors $name }}
              <section class="post-author-single flex p-10">
                <div class="col-1-5">
                  {{ if $author.picture }}
                  <img class="author-picture" src="{{ $author.picture }}" />
                  {{ end }}
                </div>
                <div class="author-name col-4-5">
                  {{ if $author.name }}
                    <a href="/authors/{{ $name }}/">{{ $author.name }}</a>
                  {{ else }}
                    {{ $name }}
                  {{ end }}
                  {{ if $author.twitter }}
                  (<a class="author-twitter" href="https://twitter.com/{{ $author.twitter }}">@{{ $author.twitter }}</a>)
                  {{ end }}
                </div>
              </section>
          {{ end }}

          <h4>Table of Contents</h4>
          {{ .TableOfContents }}

          {{ with .Params.tags }}
          <h4>Tags</h4>
          <ul id="tags">
           {{ range . }}
           <li> <a href="{{ "tags/" | absURL }}{{ . | urlize }}/">{{ . }}</a> </li>
           {{ end }}
          </ul>
          {{ end }}
          </div>
          {{ end }}          
        </section>
      </aside>
    </div>
</div>
{{ end }}

