.download-header {

  ul {
    margin: 0;
    padding: 0;
    max-width: 50%;
  }

  li {
    display: inline-block;
    color: var(--orange);

  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.install-step__icon {
  position: relative;

  svg {
    width: 85px;
    height: 85px;
  }
}

.install-step__icon-number {
  position: absolute;
}

.client-configure {
  .arrow-circle {
    width: 30px;
  }
}


.client-configure__icon {
  width: 45px;
}


.download-table {
  td {
    border-bottom: solid 1px var(--blue-border);
    padding: 10px 0;
  }

  td:first-child {
    color: var(--blue);
    font-size: 22pt;
    font-weight: bold;
  }
}
