
.install-step__icon {
  position: relative;

  svg {
    width: 85px;
    height: 85px;
  }
}

.install-step__icon-number {
  position: absolute;
}

.client-configure {
  .arrow-circle {
    width: 30px;
  }
}


.client-configure__icon {
  width: 45px;
}
