
.homepage-key-features  {
  text-align: center;
}

.homepage-key-features__item, .homepage-personas__item {
  text-align: center;
  transition: background 100ms ease;
}
.homepage-personas {
  border-top: solid 1px var(--blue-border);

}
.homepage-personas__item:hover {
  background: var(--blue);

  h4, p {
    color: #fff;
  }
}


.homepage-key-features__item-icon {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
}

.homepage-persona__icon {
  width: 100px;
  height: 100px;
}

.homepage-quotes {
  text-align: center;
  color: #fff;
}

.companies__illustration {
  min-width: 387px;
  flex-shrink: 0;
}

.companies__logos img {
  max-width: 240px;
}

.homepage__accordion {
  .accordion__item__title {
    padding: 10px 0;
  }
  ol {
    font-weight: bold;
    font-size: 18pt;
    padding-left: 1.5em;
    line-height: 30pt;
  }

  p {
    font-size: 18pt;
  }
}

@media screen and (max-width: 900px) {
  .companies {
    flex-direction: column-reverse;

    .companies__illustration {
      align-self: center;
      margin-bottom: 2rem;
      text-align: center;
    }

    svg {
      width: 50%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .homepage-hero__item {
    flex-direction:  column-reverse;
    align-items: center;
  }

  .homepage-hero__item-content {
    width: 90%;
  }

  .homepage-hero__item-image {
    width: 80%;
    text-align: center;
  }
}
