
.homepage-key-features  {
  text-align: center;
}

.homepage-key-features__item, .hompage-personas__item {
  text-align: center;
}
.hompage-personas {
  border-top: solid 1px var(--blue-border);
}
.hompage-personas__item:hover {
  background: var(--blue);

  h4, p {
    color: #fff;
  }
}


.homepage-key-features__item-icon {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
}

.hompage-persona__icon {
  width: 100px;
  height: 100px;
}

.homepage-accordion__item__content {
  display: flex;
}

.homepage-accordion__item__content-image {
  width: 396px;
  height: 276px;
}

.hompage-quotes {
  text-align: center;
  color: #fff;
}

.companies__illustration {
  min-width: 387px;
  flex-shrink: 0;
}

.companies__logos img {
  max-width: 240px;
}




