
.homepage-key-features  {
  text-align: center;
}

.homepage-key-features__item, 
.homepage-personas__item {
  text-align: center;
  font-size: 1.2em;
  transition: background 200ms ease;
}

.homepage-personas__item {
}

.homepage-quotes__item {
  max-width: 800px;
  margin: 0 auto;
}

.homepage-personas {
  
  border-top: solid 1px var(--blue-border);

}
.homepage-personas__item:hover {
  background: var(--blue);

  h4, p {
    color: #fff;
  }
}


.homepage-key-features__item-icon {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
}

.homepage-persona__icon {
  width: 100px;
  height: 100px;
}

.homepage-quotes {
  text-align: center;
  color: #fff;
}

.companies__illustration {
  min-width: 387px;
  flex-shrink: 0;
}

.companies__logos img {
  max-width: 240px;
}

.homepage__accordion {
  .accordion__item__title {
    padding: 10px 0;
  }
  ol {
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 1.5em;
    line-height: 30pt;
  }

  p {
    font-size: 1.2rem;
  }
}

.quote-logo {
  margin-bottom: -50px;
  position: relative;
  z-index: 2;
}
.quote-bubble {
  background: rgba(255,255,255,0.1);
    padding: 40px;
    border-radius: 8px;
    position: relative;
}


.quote-bubble:after{
  content: '';
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgba(255,255,255,0.1);
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

@media screen and (max-width: 900px) {
  .companies {
    flex-direction: column-reverse;

    .companies__illustration {
      align-self: center;
      margin-bottom: 2rem;
      text-align: center;
    }

    svg {
      width: 50%;
    }
  }
}

.homepage-hero__item:not(:first-child) {
  hgroup {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 1000px) {
  .homepage-hero__item {
    flex-direction:  column-reverse;
    align-items: center;
  }

  .homepage-hero__item-content {
    width: 90%;
  }

  .homepage-hero__item-image {
    width: 80%;
    text-align: center;

    svg {
      max-width: 100%;
    }
  }
}



@media screen and (max-width: 650px) {
  .homepage-personas__item {
    a {
      margin-top: 20px;
    }
  }

  .glide__slide {
    height: auto;
  }
}


