<div>
  {{ $name := .Get "name" }}
  {{ $stacked := .Get "stacked" }}
  {{ $chart := index .Site.Data.charts ($name) }}

  <h3 id="{{ $name | safeURL }}">{{ $chart.title}}
    <a class="header-link" href="#{{ $name | safeURL }}"><svg class="fill-current o-60 hover-accent-color-light" height="22px" viewBox="0 0 24 24" width="22px" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z" fill="currentColor"/></svg></a>
  </h3> 
  {{ $chart.description }}

  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = google.visualization.arrayToDataTable([
    	  [
    		  {{ range $column := $chart.columns }} {{$column}}, {{ end }} { role: 'annotation' } ],
    		  {{ range $data := $chart.data }} {{$data}}, {{ end }}
        ]);

      var view = new google.visualization.DataView(data);

      var options = {
    		    width: '100%',
    	        height: 400,
    	        legend: { position: 'top', maxLines: 3 },
    	        bar: { groupWidth: '75%' },
    	        {{ if eq $stacked "true" }}
    	        isStacked: true,
    	        {{ end }}
    	      };

      var chart = new google.visualization.ColumnChart(document.getElementById("chart_{{ $name }}_values"));
      chart.draw(view, options);
  }
  </script>
<div id="chart_{{ $name }}_values" style="width: 100%; height: 400px;"></div>
</div>
