{{ $target := .Get "target" }}
{{ $section := .Get "section" }}
{{ $data := index .Site.Data.scans ($target) ($section) }}

<div>

  <table class="sstiResultsTable" style="resize: none">
    <colgroup>
      <col width="30%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
    </colgroup>
    <tr>
      <th>Section</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Score</th>
    </tr>

    <tr>
      <td><h5>{{ $data.section }}</h5></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="center"><h5>{{ $data.score}}</h5></td>
    </tr>
    <tr class="scan-{{ $section }}">
      <th>Individual Tests</th>
      <th><a href="/docs/alerts/40012/">Reflected XSS</a></th>
      <th><a href="/docs/alerts/40026/">DOM XSS</a></th>
      <th><a href="/docs/alerts/90025/">Expr Lang Inj</a></th>
      <th><a href="/docs/alerts/90019/">Server Code Inj</a></th>
      <th><a href="/docs/alerts/90035/">SSTI</a></th>
      <th><a href="/docs/alerts/90036/">SSTI Blind</a></th>
      <th>Result</th>
    </tr>
    {{ range $test := $data.details }} 
    <tr class="scan-{{ $section }}">
      <td>{{ $test.title}}</a></td>
      {{ if eq $test.rule_40012 "FAIL" }} 
        <td align="center"><div class="scan-result-fail">&#10060; {{ $test.rule_40012}} </div></td>
      {{ else }}
        <td align="center"><div class="scan-result-pass">&#10003; {{ $test.rule_40012}} </div></td>
      {{ end }} 
      {{ if eq $test.rule_40026 "FAIL" }} 
        <td align="center"><div class="scan-result-fail">&#10060; {{ $test.rule_40026}} </div></td>
      {{ else }}
        <td align="center"><div class="scan-result-pass">&#10003; {{ $test.rule_40026}} </div></td>
      {{ end }} 
      {{ if eq $test.rule_90025 "FAIL" }} 
        <td align="center"><div class="scan-result-fail">&#10060; {{ $test.rule_90025}} </div></td>
      {{ else }}
        <td align="center"><div class="scan-result-pass">&#10003; {{ $test.rule_90025}} </div></td>
      {{ end }} 
      {{ if eq $test.rule_90019 "FAIL" }} 
        <td align="center"><div class="scan-result-fail">&#10060; {{ $test.rule_90019}} </div></td>
      {{ else }}
        <td align="center"><div class="scan-result-pass">&#10003; {{ $test.rule_90019}} </div></td>
      {{ end }} 
      {{ if eq $test.rule_90035 "FAIL" }} 
        <td align="center"><div class="scan-result-fail">&#10060; {{ $test.rule_90035}} </div></td>
      {{ else }}
        <td align="center"><div class="scan-result-pass">&#10003; {{ $test.rule_90035}} </div></td>
      {{ end }} 
      {{ if eq $test.rule_90036 "FAIL" }} 
        <td align="center"><div class="scan-result-fail">&#10060; {{ $test.rule_90036}} </div></td>
      {{ else }}
        <td align="center"><div class="scan-result-pass">&#10003; {{ $test.rule_90036}} </div></td>
      {{ end }} 
      {{ if eq $test.any "FAIL" }} 
        <td align="center"><div class="scan-result-fail">&#10060; {{ $test.any}} </div></td>
      {{ else }}
        <td align="center"><div class="scan-result-pass">&#10003; {{ $test.any}} </div></td>
      {{ end }} 
    </tr>
    {{ end }}
    <tr>
      <td><h5>Total Passes</h5></td>
      <td align="center"><h5>{{ $data.rule_40012_score }}</h5></td>
      <td align="center"><h5>{{ $data.rule_40026_score }}</h5></td>
      <td align="center"><h5>{{ $data.rule_90025_score }}</h5></td>
      <td align="center"><h5>{{ $data.rule_90019_score }}</h5></td>
      <td align="center"><h5>{{ $data.rule_90035_score }}</h5></td>
      <td align="center"><h5>{{ $data.rule_90036_score }}</h5></td>
      <td align="center"><h5>{{ $data.any_score }}</h5></td>
    </tr>
    
  </table>

</div>
