{{ $target := .Get "target" }}
{{ $section := .Get "section" }}
{{ $data := index .Site.Data.scans ($target) ($section) }}

<div>

  <table class="sstiResultsTable" style="resize: none">
    <colgroup>
      <col width="30%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
      <col width="10%" />
    </colgroup>
    <tr>
      <th>Section</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Score</th>
    </tr>

    <tr>
      <td><h5>{{ $data.section }}</h5></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="center"><h5>{{ $data.score}}</h5></td>
    </tr>
    <tr class="scan-{{ $section }}">
      <th>Individual Tests</th>
      <th><a href="/docs/alerts/40012/">Reflected XSS</a></th>
      <th><a href="/docs/alerts/40026/">DOM XSS</a></th>
      <th><a href="/docs/alerts/90025/">Expr Lang Inj</a></th>
      <th><a href="/docs/alerts/90019/">Server Code Inj</a></th>
      <th><a href="/docs/alerts/90035/">SSTI</a></th>
      <th><a href="/docs/alerts/90036/">SSTI Blind</a></th>
      <th>Result</th>
    </tr>
    {{ range $test := $data.details }} 
    <tr class="scan-{{ $section }}">
      <td>{{ $test.title}}</td>
      {{ range $col := slice "rule_40012" "rule_40026" "rule_90025" "rule_90019" "rule_90035" "rule_90036" "any" }}
      {{ $score := index $test $col }}
      {{ $trend := index $test (printf "%s_trend" $col) }}
      {{ $prev := index $test (printf "%s_prev" $col) }}
      <td align="center" style="white-space: nowrap">
        {{ if eq $score "Pass" }}
          <span class="scan-result-pass">&#10003; Pass</span>
        {{ else if or (eq $score "Fail") (eq $score "FAIL") }}
          <span class="scan-result-fail">&#10060; Fail</span>
        {{ else if $score }}
          <span class="scan-result-partial">{{ $score }}</span>
        {{ end }}
        {{ if eq $trend "up" }}
          <span title="Previous: {{ $prev }}" style="color: green">&#x2191;</span>
        {{ else if eq $trend "down" }}
          <span title="Previous: {{ $prev }}" style="color: red">&#x2193;</span>
        {{ end }}
      </td>
      {{ end }}
    </tr>
    {{ end }}
    <tr>
      <td><h5>Total Passes</h5></td>
      <td align="center"><h5>{{ $data.rule_40012_score }}</h5></td>
      <td align="center"><h5>{{ $data.rule_40026_score }}</h5></td>
      <td align="center"><h5>{{ $data.rule_90025_score }}</h5></td>
      <td align="center"><h5>{{ $data.rule_90019_score }}</h5></td>
      <td align="center"><h5>{{ $data.rule_90035_score }}</h5></td>
      <td align="center"><h5>{{ $data.rule_90036_score }}</h5></td>
      <td align="center"><h5>{{ $data.any_score }}</h5></td>
    </tr>
    
  </table>

</div>
