{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}
{{ define "main" }}
<section class="bolt-header">
   <div class="wrapper py-20">
      <h1 class="text--white">{{ .Title }}</h1>
   </div>
</section>
<div class="wrapper py-20">
    <header class="breadcrumbs">
        <a href="/docs/">Documentation</a> > Roadmap
    </header>
   {{ .Content }}
   <div class="flex">
      <table>
         <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 50%;">
         </colgroup>
         <thead>
            <tr>
               <th>Year</th>
               <th>Status<br>
                  <input id="showarchived" class="togglehidetablerows" type="checkbox">
                  <label for="showarchived">Show Archived</label>
               </th>
               <th>Item</th>
            </tr>
         </thead>
         <tbody>
            {{ range $.Site.Data.roadmap }}
               <tr {{ if ne .archive nil -}} class="togglehide" style="display:none;" {{- end }}>
                  <td align="center">{{ .year }}</td>
                  <td align="center">{{ .status }}</td>
                  <td>{{ if .url }} <a href="{{ .url }}">{{ .item }}</a> {{ else }} {{ .item }} {{ end }}</td>
               </tr>
            {{ end }}
         </tbody>
      </table>
   </div>
</div>
{{ end }}
