{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<section class="bolt-header">
    <div class="wrapper py-20">
      <h1 class="text--white">{{ .Title }}</h1>
  </div>
</section>

  <section>
    <div class="wrapper py-70">
      {{ if .Params.addBreadcrumbs }}{{partial "crumbs.html" . }}{{ end }}
      <h3>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40px"><g data-name="Layer 2"><circle cx="20" cy="20" r="20" fill="#4389ff"/>
        <style>
          .heavy {
            font: bold 30px sans-serif;
            fill: white;
          }
        </style>
        <text x="12" y="30"  class="heavy">?</text></g></svg>
        Question: {{ .Params.question }}
      </h3>
      {{ with .Params }}
        <div>
          {{ range .answers }}
            <div class="flex">
              <div class="circle-arrow mr-20">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px"><g data-name="Layer 2"><circle cx="15" cy="15" r="15" fill="#4389ff"/><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M12.72 8.64L19.07 15l-6.35 6.36"/></g></svg>
              </div>
              <div>
                  <p> <b><a href="{{ .link }}"> {{ .answer }}</a></b></p>
              </div>
            </div>
          {{ end }}
        </div>
      {{ end }}
      {{ if .Content }}
        <h5>Background</h5>
        {{ .Content }}
      {{ end }}
      {{ if .Params.footer }}
        <h5>{{ .Params.footer }}</h5>
      {{ end }}
    </div>
  </section>

{{ end }}
