{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}
{{ define "main" }}
  <section class="bolt-header">
    <div class="wrapper py-20 download-header">
    {{ with .Site.Data.download.a_header }}
      <h1 class="text--white">{{ .title }}</h1>
    {{ end }}
  </div>
  </section>

  <section class="bg--blue-lightest">
    <div class="wrapper py-20">
      {{ with .Site.Data.download.b_details }}
        <div>
          {{ range .details }}
            <div class="flex">
              <div class="circle-arrow mr-20">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px"><g data-name="Layer 2"><circle cx="15" cy="15" r="15" fill="#4389ff"/><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M12.72 8.64L19.07 15l-6.35 6.36"/></g></svg></div>
              <div>
                <p> {{ . | markdownify }}</p>
              </div>
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </section>

  <section>
      <div class="wrapper py-20">
        {{ with .Site.Data.download.c_main }}
          <h2 id="main">{{ .title }}</h2>

          <table class="download-table">
            <tbody>
              {{ range $.Site.Data.download.c_main_files }}
                <tr>
                  <td>{{ .name }}</td>
                  <td style="text-align:right"><code>{{ .size }}</code></td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp; </td>
                  <td>
                    <a track-event="download.stable.{{ .id }}" href="{{ .link }}" class="button button--orange">Download</a>
                  </td>
                </tr>
              {{ end }}

            </tbody>
          </table>

          <ul class="bullet-list">
              {{ range .info }}
                <li> {{ . | markdownify }} </li>
              {{ end }}
          </ul>
        {{ end }}

          <blockquote class="alert alert-warning">
            <p class="alert-heading">
              ⚠️ Warning - The ZAP releases are currently unsigned
            </p>
            <div class="alert-content">
                <p>
                On <strong>Windows</strong>, you will see a message like:
                  <code>
                    ZAP_&lt;version&gt;_windows.exe isn't commonly downloaded.
                    Make sure you trust ZAP_&lt;version&gt;_windows.exe before you open it.
                  </code><br>
                  To circumvent this warning, you would need to click on <strong>...</strong> and then <strong>Keep</strong>,
                  then <strong>Show more</strong> and then <strong>Keep anyway</strong>.
                <p>
                On <strong>macOS</strong>, you will see a message like: 
                  <code>"ZAP.app" cannot be opened because the developer cannot be verified.</code><br>
                To circumvent this warning, you would need to go to <strong>System Preferences</strong> &gt; <strong>Security & Privacy</strong> 
                at the bottom of the dialog. You will see a message saying that "ZAP" was blocked. 
                Next to it, if you trust the downloaded installer, you can click <strong>Open anyway</strong>.
            </div>
          </blockquote>


          

          
            
            
          {{ partial "blockquote-alert.html" (dict
          "type" "warning"
          "html" "<p>This is a <strong>caution</strong> message.</p><p>It has multiple paragraphs.</p>"
          ) }}

          
      </div>
  </section>

<section class="bg--blue-gradient">
  <div class="wrapper py-20">
  <div>
      {{ with .Site.Data.download.h_installation }}
        <div class="grid grid__four-col">
          {{ range .steps }}
            <div class="install-step ta-c">
              <div class="install-step__icon flex jc-c ai-c mb-40">
                {{ $svg := (printf "%s%s" "svg/download/" .icon ) }}
                {{ partial $svg }}

                <div class="install-step__icon-number as-h3 text--white">{{ .step }}</div>

              </div>
              <p class="text--white">
                {{ .text }}
              </p>
            </div>
          {{ end }}
        </div>
      {{ end }}
      </div>
  </div>
</section>

  <section class="bg--blue-lightest">
    <div class="wrapper py-20">
        {{ with .Site.Data.download.d_docker }}
          <h3 id="docker">{{ .title }}</h3>
          <table class="download-table">
              <tbody>
                {{ range .table }}
                  <tr>
                    <td>{{ .name }}</td>
                    <td>{{ .notes }}</td>
                    <td><code>{{ .ghcr.cmd }}</code><br><code>{{ .zaproxy.cmd }}</code></td>
                    <td>
                      <a track-event="download.core.{{ .ghcr.id }}" href="{{ .ghcr.link }}" class="button button--orange">GHCR Page</a>
                      <a track-event="download.core.{{ .zaproxy.id }}" href="{{ .zaproxy.link }}" class="button button--orange">Docker Hub Page</a>
                    </td>
                  </tr>
                {{ end }}

              </tbody>
            </table>

            <ul class="bullet-list">
                {{ range .info }}
                  <li> {{ . | markdownify }} </li>
                {{ end }}
            </ul>

        {{ end }}
    </div>
  </section>

  <section>
    <div class="wrapper py-20">
        {{ with .Site.Data.download.e_weekly }}
        <h3 id="weekly">{{ .title }}</h3>
        <table class="download-table">
            <tbody>
              {{ range $.Site.Data.download.e_weekly_files }}
                <tr>
                  <td>{{ .name }}</td>
                  <td><code>{{ .size }}</code></td>
                  <td><a track-event="download.weekly.{{ .id }}" href="{{ .link }}" class="button button--orange">Download</a></td>
                </tr>
              {{ end }}

            </tbody>
          </table>

          <ul class="bullet-list">
              {{ range .info }}
                <li> {{ . | markdownify }} </li>
              {{ end }}
          </ul>

        {{ end }}
    </div>
  </section>


<section class="bg--blue-lightest">
  <div class="wrapper py-20">
    <h3 id="official">Officially Supported Repos</h3>
    <div class="grid grid__two-col">

      {{ with .Site.Data.download.f_others }}
        <div>
        {{ range .maint_column_1 }}
          {{ range .items }}
            <div>
              <h4>{{ .title }}</h4>
              <strong>{{ .subtitle }}</strong>
              <ul class="bullet-list">
              {{ range .info }}

                <li>{{ . | markdownify}}</li>

              {{ end }}
            </ul>
            </div>
          {{ end }}

        {{ end }}
        </div>
        <div>
        {{ range .maint_column_2 }}
        {{ range .items }}
        <div>
          <h4>{{ .title }}</h4>
            <strong>{{ .subtitle }}</strong>
          <ul class="bullet-list">
          {{ range .info }}

              <li>{{ . | markdownify}}</li>

          {{ end }}
          </ul>
        </div>
        {{ end }}
        {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</section>

<section>
  <div class="wrapper py-20">
    <h3 id="3rdparty">3rd Party Repos (Unsupported)</h3>
    <div class="grid grid__two-col">

      {{ with .Site.Data.download.f_others }}
        <div>
        {{ range .unmaint_column_1 }}
          {{ range .items }}
            <div>
              <h4>{{ .title }}</h4>
              <strong>{{ .subtitle }}</strong>
              <ul class="bullet-list">
              {{ range .info }}

                <li>{{ . | markdownify}}</li>

              {{ end }}
            </ul>
            </div>
          {{ end }}

        {{ end }}
        </div>
        <div>
        {{ range .unmaint_column_2 }}
        {{ range .items }}
        <div>
          <h4>{{ .title }}</h4>
            <strong>{{ .subtitle }}</strong>
          <ul class="bullet-list">
          {{ range .info }}

              <li>{{ . | markdownify}}</li>

          {{ end }}
          </ul>
        </div>
        {{ end }}
        {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="bg--blue-lightest">
  <div class="wrapper py-20">
  <a name="latest-versions"></a> 

  {{ with .Site.Data.download.g_latest }}

    <div class="flex latest-versions">
      <div class="col-2-3">
          <h3>{{ .title }}</h3>
          <ul class="bullet-list">
              {{ range .info }}
                <li> {{ . | markdownify }} </li>
              {{ end }}
          </ul>

      </div>

      <div class="col-1-3">
          <div class="column-svg">
          {{ $svg := (printf "%s%s" "svg/download/" .illustration ) }}
          {{ partial $svg }}
          </div>
      </div>
    </div>
  {{ end }}
  </div>
</section>

<section>
  <div class="wrapper py-20">
  <a name="older-versions"></a> 
  {{ with .Site.Data.download.j_older }}
          <h3>{{ .title }}</h3>
          <ul class="bullet-list">
              {{ range .info }}
                <li> {{ . | markdownify }} </li>
              {{ end }}
          </ul>
  {{ end }}
  </div>
</section>

<section style="display:none">
    <div class="wrapper py-20 ta-c">
        {{ with .Site.Data.download.i_client_configuration }}
          <h3>{{ .title }}</h3>
          <div class="grid grid__three-col client-configure">
            {{ range .items }}
              <div class="card ta-c p-40 flex fd-c ai-c">
                <div class="client-configure__icon">
                  {{ $svg := (printf "%s%s" "svg/download/" .icon ) }}
                  {{ partial $svg }}

                </div>
                <div class="client-configure__text">
                    <h4 class="text--orange my-30">{{ .text }}</h4>
                </div>

                <div class="arrow-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="11" fill="none" stroke="#00549e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><path fill="none" stroke="#00549e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.8 8.28L14.52 12l-3.72 3.72"/></svg>
                </div>
              </div>
            {{ end }}
          </div>
        {{ end }}
    </div>
</section>

{{ end }}


