{{ define "main" }}
  <section class="bg--blue-gradient">
    <div class="wrapper py-70">
    {{ with .Site.Data.download.a_header }}
      <h1>{{ .title }}</h1>
        <ul class="link__list">
          {{ range .links }}
            <li>
              <a href="{{ .link }}"> {{ .label }} </a>,
            </li>
          {{ end }}
      </ul>
    {{ end }}
  </div>
  </section>

  <section class="bg--blue-lightest">
    <div class="wrapper py-70">
      {{ with .Site.Data.download.b_details }}
        <div class="grid grid__two-col">
          <div>
            <h3>{{ .title }}</h3>

            {{ range .details }}
              <div class="flex">
                <div class="circle-arrow"></div>
                <div>
                  <p> {{ . | markdownify }}</p>
                </div>
              </div>
            {{ end }}
          </div>
          <div>
            {{ .illustration }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>


  <section>
      <div class="wrapper py-70">
        {{ with .Site.Data.download.c_os_downloads }}
          <h3>{{ .title }}</h3>
          <table>
            <tbody>
              {{ range .table }}
                <tr>
                  <td>{{ .name }}</td>
                  <td>{{ .size }}</td>
                  <td><a href="{{ .link }}" class="button button--orange">Download</a></td>
                </tr>
              {{ end }}

            </tbody>
          </table>

          <ul>
              {{ range .info }}
                <li> {{ . | markdownify }} </li>
              {{ end }}
          </ul>
        {{ end }}
      </div>
  </section>

  <section class="bg--blue-lightest">
    <div class="wrapper py-70">
        {{ with .Site.Data.download.d_core }}
          <h3>{{ .title }}</h3>
          <table>
              <tbody>
                {{ range .table }}
                  <tr>
                    <td>{{ .name }}</td>
                    <td>{{ .size }}</td>
                    <td><a href="{{ .link }}" class="button button--orange">Download</a></td>
                  </tr>
                {{ end }}

              </tbody>
            </table>

            <ul>
                {{ range .info }}
                  <li> {{ . | markdownify }} </li>
                {{ end }}
            </ul>

        {{ end }}
    </div>
  </section>

  <section>
    <div class="wrapper py-70">
        {{ with .Site.Data.download.e_weekly }}
        <h3>{{ .title }}</h3>
        <table>
            <tbody>
              {{ range .table }}
                <tr>
                  <td>{{ .name }}</td>
                  <td>{{ .size }}</td>
                  <td><a href="{{ .link }}" class="button button--orange">Download</a></td>
                </tr>
              {{ end }}

            </tbody>
          </table>

          <ul>
              {{ range .info }}
                <li> {{ . | markdownify }} </li>
              {{ end }}
          </ul>

        {{ end }}
    </div>
  </section>

<section class="bg--blue-lightest">
  <div class="wrapper py-70">
    <div class="grid grid__two-col">

      {{ with .Site.Data.download.f_docker_workspace }}
        <div>
        {{ range .column_1 }}
          {{ range .items }}
            <div>
              <h3>{{ .title }}</h3>
              <strong>{{ .subtitle }}</strong>
              <ul>
              {{ range .info }}

                <li>{{ . | markdownify}}</li>

              {{ end }}
            </ul>
            </div>
          {{ end }}

        {{ end }}
        </div>
        <div>
        {{ range .column_2 }}
        {{ range .items }}
        <div>
          <h3>{{ .title }}</h3>
            <strong>{{ .subtitle }}</strong>
          <ul>
          {{ range .info }}

              <li>{{ . | markdownify}}</li>

          {{ end }}
          </ul>
        </div>
        {{ end }}
        {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</section>

<section>
  <div class="wrapper py-70">

  {{ with .Site.Data.download.g_latest }}
    <h3>{{ .title }}</h3>

    <ul>
        {{ range .info }}
          <li> {{ . | markdownify }} </li>
        {{ end }}
    </ul>

  {{ end }}
  </div>
</section>

<section class="bg--blue-gradient">
  <div class="wrapper py-70">
      {{ with .Site.Data.download.h_installation }}
        <div class="grid grid__four-col">
          {{ range .steps }}
            <div class="install-step ta-c">
              <div class="install-step__icon flex jc-c ai-c mb-40">
                {{ $svg := (printf "%s%s" "svg/download/" .icon ) }}
                {{ partial $svg }}

                <div class="install-step__icon-number as-h3 text--white">{{ .step }}</div>

              </div>
              <p class="text--white">
                {{ .text }}
              </p>
            </div>
          {{ end }}
        </div>
      {{ end }}
  </div>
</section>

<section>
    <div class="wrapper py-70 ta-c">
        {{ with .Site.Data.download.i_client_configuration }}
          <h3>{{ .title }}</h3>
          <div class="grid grid__three-col client-configure">
            {{ range .items }}
              <div class="card ta-c p-40 flex fd-c ai-c">
                <div class="client-configure__icon">
                  {{ $svg := (printf "%s%s" "svg/download/" .icon ) }}
                  {{ partial $svg }}

                </div>
                <div class="client-configure__text">
                    <h4 class="text--orange my-30">{{ .text }}</h4>
                </div>

                <div class="arrow-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Artboard 28</title><circle cx="12" cy="12" r="11" fill="none" stroke="#00549e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><path fill="none" stroke="#00549e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.8 8.28L14.52 12l-3.72 3.72"/></svg>
                </div>
              </div>
            {{ end }}
          </div>
        {{ end }}
    </div>
  </section>

{{ end }}


