{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<section class="bolt-header">
    <div class="wrapper py-20">
      <h1 class="text--white">{{ .Title }}</h1>
  </div>
</section>

  <section>
    <div class="wrapper py-70">
      {{ if .Params.header }}
        <h5>{{ .Params.header }}</h5>
      {{ end }}
      {{ if .Params.addBreadcrumbs }}{{partial "crumbs.html" . }}{{ end }}
      {{ .Content }}
      {{ with .Params }}
        <div>
          {{ range .links }}
            <div class="flex">
              <div class="circle-arrow mr-20">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px"><g data-name="Layer 2"><circle cx="15" cy="15" r="15" fill="#4389ff"/><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M12.72 8.64L19.07 15l-6.35 6.36"/></g></svg></div>
              <div>
                {{ if .link }}
                  <p> <b><a href="{{ .link }}"> {{ .name }}</a></b> {{ if .desc }} - {{ .desc }} {{ end }}</p>
                {{ else }}
                  <p> {{ .name }} {{ if .desc }} - {{ .desc }} {{ end }}</p>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      {{ end }}
      {{ if .Params.footer }}
        <h5>{{ .Params.footer }}</h5>
      {{ end }}
    </div>
  </section>

{{ end }}
