{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<section class="bolt-header">
    <div class="wrapper py-20">
      <h1 class="text--white">{{ .Title }}</h1>
  </div>
</section>
<section class="wrapper py-70" data-kind="{{ .Kind }}">
  <article>

<h5>{{ .Params.description }}</h5>

{{- .Content -}}

<h2>Platinum</h2>

{{ range $supporter := $.Site.Data.supporters.platinum }}
  <a href="{{ $supporter.link }}"><img src="{{ $supporter.logo }}" /></a>&nbsp;&nbsp;
{{ end }}
<br/><br/>

<h2>Gold</h2>

{{ range $supporter := $.Site.Data.supporters.gold }}
  <a href="{{ $supporter.link }}"><img src="{{ $supporter.logo }}" /></a>&nbsp;&nbsp;
{{ end }}
<br/><br/>

<h2>Silver</h2>

{{ range $supporter := $.Site.Data.supporters.silver }}
  {{ if $supporter.logo }}
    <a href="{{ $supporter.link }}"><img src="{{ $supporter.logo }}" /></a>&nbsp;&nbsp;
  {{ else }}
    <h3><a href="{{ $supporter.link }}">{{ $supporter.name }}</a></h3>
  {{ end }}
{{ end }}
<br/><br/>

<h2>Bronze</h2>

<ul>
{{ range $supporter := $.Site.Data.supporters.bronze }}
    <li><a href="{{ $supporter.link }}">{{ $supporter.name }}</a></li>
{{ end }}
</ul>

  </article>
</section>
{{ end }}

