{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<section class="bolt-header">
    <div class="wrapper py-20">
      <h1 class="text--white">{{ .Title }}</h1>
  </div>
</section>
<section class="wrapper py-70" data-kind="{{ .Kind }}">
  <article>

<h5>{{ .Params.description }}</h5>

{{- .Content -}}

<h2>Platinum</h2>
{{ partial "supporters.html" (dict "supporters" $.Site.Data.supporters.platinum) }}
<br/><br/>

<h2>Gold</h2>
{{ partial "supporters.html" (dict "supporters" $.Site.Data.supporters.gold) }}
<br/><br/>

<h2>Silver</h2>
{{ partial "supporters.html" (dict "supporters" $.Site.Data.supporters.silver) }}
<br/><br/>

<h2>Bronze</h2>

<ul>
{{ range $supporter := $.Site.Data.supporters.bronze }}
    <li><a href="{{ $supporter.link }}">{{ $supporter.name }}</a></li>
{{ end }}
</ul>

<h2>Community</h2>

<ul>
{{ range $supporter := $.Site.Data.supporters.community }}
    <li>{{ $supporter.name }}</li>
{{ end }}
</ul>

  </article>
</section>
{{ end }}

