{{ define "main" }}
<section class="bolt-header">
    <div class="wrapper py-20">
      <h1 class="text--white">{{ .Title }}</h1>
  </div>
</section>
{{ $section := .Site.GetPage "section" .Section }}
<div class="wrapper py-70" data-kind="{{ .Kind }}">

    <div class="flex">

        <article class="col-2-3">
          {{ partial "svg/tour.svg" . }}
        </article>
      <aside class="col-1-3">
      {{ range $index, $step := .Params.steps }}
        <h4>{{ add $index 1 }}. {{ $step.title }}</h4>
        <p>{{ $step.text }}</p>
      {{ end }}
      </aside>
    </div>
  </div>


{{ end }}



