{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<section class="bolt-header">
    <div class="wrapper py-20">
      <h1 class="text--white">{{ .Title }}</h1>
  </div>
</section>
<section class="wrapper py-70" data-kind="{{ .Kind }}">
  <article>
    <main>{{- .Content -}}</main>
    
    
    <div class="grid grid__two-col grid_row_gap">
      {{ with .Params }}
          {{ range .links }}
		    <div>
		     <!-- iframe width="420" height="315" src="https://www.youtube.com/embed/{{ .uuid }}"></iframe--> 
		     
		     <div class='embed-youtube'>
		       <iframe src='https://www.youtube.com/embed/{{ .uuid }}' frameborder='0' allowfullscreen></iframe>
		     </div>
		     
		    </div>
          {{ end }}
      {{ end }}
    </div>
    
  </article>
</section>
{{ end }}

