{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}

{{ define "main" }}
<script type="text/javascript" async src="https://play.vidyard.com/embed/v4.js"></script>
{{ $section := .Site.GetPage "section" .Section }}
<section class="bolt-header">
    <div class="wrapper py-20">
      <h1 class="text--white">{{ .Title }}</h1>
  </div>
</section>
<section class="wrapper py-70" data-kind="{{ .Kind }}">
  <article>
    <main>{{- .Content -}}</main>
    
    <img
      style="width: 100%; margin: auto; display: block;"
      class="vidyard-player-embed"
      src="https://play.vidyard.com/{{ .Params.uuid }}.jpg"
      data-uuid="{{ .Params.uuid }}"
      data-v="4"
      data-type="inline"
    />
    
    
  </article>
</section>
{{ end }}

