---
title: "Auth: Fails to Identify a Verification URL"
type: page
layout: decision-question
question: Can you identify a suitable verification URL?
answers:
- answer: 'Yes'
  link: ../update-the-context/
- answer: 'No'
  link: ../ask-for-support/
---

ZAP has failed to identify a suitable URL to use to verify if the user is logged in, so you will need to do that.
For more details see [Finding a verification URL](/docs/getting-further/authentication/finding-a-verification-url/).
