.site-footer {
  background: var(--blue-dark);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
}

.site-footer a {
  color: #fff;
}

.footer-left {
  margin-left: 25px;

  ul {
    padding-left: 0;
  }
}

.footer-social li {
  width: 47px;
  height: 47px;
  margin-right: 28px;
  border-radius: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social svg {
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 825px) {
  .site-footer {
    display: none;
  }
  .footer-social {
    display: none;
  }
}
