.bg--blue-lightest {
  background: var(--blue--lightest);
}

.bg--grey-light {
  background: var(--grey-light);
}

.bg--blue {
  background: var(--blue);
}

.bg--blue-gradient {
  background: linear-gradient(var(--blue-dark), var(--blue));
}

.bolt-header {
  background: url('/img/bolt-header.png') no-repeat calc(100% - 100px) calc(100% + 100px), linear-gradient(var(--blue-dark), var(--blue));
}

.zapcon-banner {
    height: 80px;
    overflow: hidden;
}

.zapcon-banner-container {
    display: flex;
    width: 100%;


}

.zapcon-banner-col-brand .sir-zapalot {
    position: relative;
    top: 35px;
}

.zapcon-banner-col-date {
    background: #000 url(/img/zapcon//Lines.svg) no-repeat 0 0;
    background-size: cover;
    width: 65%;
    display: flex;
    align-items: center;
}

.zapcon-banner-cta {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zapcon-banner-col-brand {
    background: #000 url(/img/zapcon//stars.svg) repeat-x 0 0;
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    height: 80px;

}

.zapcon-banner-date {
    flex: 0 0 65%;

    display: flex;
    justify-content: center;
}

.zapcon-banner-col-brand .sir-zapalot img {
    max-width: 163px;
}

@media screen and (max-width: 825px) {
  .zapcon-header {
    display: none;
  }

  .zapcon-register {
    display: none;
  }

  .zapcon-banner {
    margin-right: 24px;
    display: none;
  }
} 