@use "sass:math";
.flex {
  display: flex;
}

.on-sm-block {
  display: block;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.jc-sa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.fd-c {
  flex-direction: column;
}

.fd-cr {
  flex-direction: column-reverse;
}

.no-shrink {
  flex-shrink: 0;
}

.grid {
  display: grid;
  grid-column-gap: 60px;
}

.grid_row_gap {
  grid-row-gap: 60px;
}

.grid__two-col {
  grid-template-columns: 1fr 1fr;
}

.grid__three-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid__four-col {
  grid-template-columns:  1fr 1fr 1fr 1fr;
}

// Generate the various grid widths
$grid_widths: 2 3 4 5 6 8;
@each $size in $grid_widths  {
  @for $i from 1 through ($size - 1) {
    .col-#{$i}-#{$size} {
      width:  math.percentage(math.div($i, $size));
    }
  }
}

.d-ib {
  display: inline-block;
}

@media screen and (max-width: 1150px) {
  .grid__four-col {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .grid__four-col {
    grid-template-columns: 1fr;
  }
  .grid__three-col {
    grid-template-columns: 1fr;
  }

  .grid__two-col {
    grid-template-columns: 1fr;
  }

  .col-1-3, .col-2-3 {
    width: 100%;
  }

  .latest-versions {
    flex-direction: column;
  }

  .column-svg {
    width: 50%;
    margin: 0 auto;
  }

  .on-tab-full {
    width: 100%;
    margin: 0;
  }
}


@media screen and (max-width: 650px) {
  .on-sm-stack {
    flex-direction: column;
  }

  .on-sm-full {
    width: 100%;
    margin: 0;
  }
  .on-sm-hide {
    display: none;
  }

  .on-sm-rp{
    padding: 0;
  }
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.fx-g-1 {
  flex-grow: 1;
}

.scale {
  max-width: 100%;
  max-height: 100%;
}

// c/o https://embedresponsively.com/
.embed-youtube {
  position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
} 

.embed-youtube iframe, .embed-youtube object, .embed-youtube embed { 
	position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
}

// Hide columns on smaller screens
@media only screen and (max-width: 650px) {
  td.td-non-mobile {
    display:none;
  }
  th.th-non-mobile {
    display:none;
  }
}
