.site-header {
  border-bottom: solid 1px var(--blue-border);
}

.site-header .wrapper {
  height: 90px;
}

.site-header nav {
  margin-right: 10px;
}

.site-header nav a {
  margin-right: 30px;
  color: var(--blue-dark);
  font-weight: bold;
  text-decoration: none;
  transition: all 100ms ease;
}

.site-header nav a:hover {
  color: var(--orange);
}

.header-social li {
  width: 18px;
  height: 18px;
  margin-right: 18px;
}

.header-social svg {
  width: 18px;
  height: 18px;
}

.hamburger-icon {}
.hamburger-icon,
.hamburger-click {
  display: none;
}

.hamburger-icon:hover {
  transform: scale(1.1);
}

.hamburger-click {
  cursor: pointer;
  opacity: 0.0;
  z-index: 2;
  position: absolute;
  top: 36px;
  right: 40px;
}

@media screen and (max-width: 825px) {
  .header-social {
    display: none;
  }
}

input {
  cursor: pointer;
  z-index: 2;

}



@media screen and (max-width: 650px) {
  .hamburger-icon,
  .hamburger-click {
    display: block;
  }

  input:checked ~ #primary-menu {
    transform: none;
  }
  

  #cta-download {
    display: none;
  }

  #primary-menu{
    -webkit-transform: none;
    transform: none;
    background: red;
    width: 100%;
    position: absolute;
    display: block;
    top: 90px;
    left: 0;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    margin: 0px;
    width: 100%;
    background: rgba(255,255,255,0.9);
    z-index: 10;

  
    transform-origin: 0% 0%;
    transform: translate(-120%, 0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}
