.site-header {
  border-bottom: solid 1px var(--blue-border);
}

.site-header .wrapper {
  height: 90px;
}

.site-header nav {
  margin-right: 10px;
}

#primary-menu {
  position: relative;
  padding: 0;
  margin:0;

  #search-menu { 
    position: initial;
  }
}


#primary-menu > li {
  position: relative;
  opacity: 1;
  transition: opacity 200ms linear;
  white-space: nowrap;
  margin-right: 12px;

  a {
    display: inline-block;
    padding:8px 7px;

  }
}

.in-search {
  #search-menu {
    form {
      width: calc(100% - 60px);
    }
  }

  li:not(#search-menu) {
    opacity: 0;
  }
}

#search-menu {
  width: 40px;

  .toggler {
    cursor: pointer;
    margin-left: -12px;
  }

  form {
    position:absolute;
    right:60px;
    top:2px;
    width: 0%;
    overflow: hidden;
    transition: width 300ms linear;
  }

  input {
    width: 100%;
  }
}

#cta-download {
  position: relative;
  top:-4px;
}


.site-header nav a {
  color: var(--blue-dark);
  font-weight: bold;
  text-decoration: none;
  transition: all 100ms ease;
  font-size: 1em;
}

@media (max-width: 767.98px) {
  .site-header nav a {
    font-size: 0.7em;
  }
}

.site-header nav a:hover {
  color: var(--orange);
}

.header-social li {
  width: 18px;
  height: 18px;
  margin-right: 18px;
}

.header-social svg {
  width: 24px;
  height: 24px;
}

.hamburger-icon,
.hamburger-click {
  display: none;
}

.hamburger-icon:hover {
  transform: scale(1.1);
}

.sub-menu {
  padding: 0;
}

.site-header .sub-menu {
  background: #fff;
  border-radius: 4px;
  padding: 0 16px 16px 16px;
  position: absolute;
  width: 160px;
  top: 100px;
  left: -8px;
  opacity: 0;;
  font-weight: normal;
  border: solid 2px rgba(255, 255, 255, 0.5);
  background-clip: padding-box; 
  font-size: 0.9em;
  transition: all 40ms cubic-bezier(0.42, 0, 1, 1);
}

.site-header  li:hover {
  .sub-menu {
    top: 100%;
    opacity: 1;
  }
}

.hamburger-click {
  cursor: pointer;
  opacity: 0.0;
  z-index: 2;
  position: absolute;
  top: 36px;
  right: 40px;
}

@media screen and (max-width: 1000px) {
  .header-social {
    display: none;
  }
}

input {
  cursor: pointer;
  z-index: 2;

}

.search-button {
  cursor: pointer;
}

.download-button {
  margin-top: 4px;
}

@media screen and (max-width: 1000px) {
  .hamburger-icon,
  .hamburger-click {
    display: block;
  }

  input:checked ~ #primary-menu {
    transform: none;
  }

  #cta-download {
    display: none;
  }

  #primary-menu{
    -webkit-transform: none;
    transform: none;
    background: red;
    width: 100%;
    position: absolute;
    display: block;
    top: 90px;
    left: 0;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    margin: 0px;
    width: 100%;
    background: rgba(255,255,255,0.9);
    z-index: 10;
    transform-origin: 0% 0%;
    transform: translate(-120%, 0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    li {
      padding: 0;
    }

    .sub-menu {
      top:0;
      opacity: 1;
      position: relative;
      width: 100%;
      padding: 0;
      margin:0;
    
      a {
        font-size: 0.7em;
        opacity:0.8;
      }
    }
  }

  #search-menu {
    width: 100%;
    line-height: 0;
    font-size: 0.7em;
    .toggler {
      display: none;
    }
  
    form {
      width: 100%;
      position: relative;
      right:0px;
      top:0px;
    }
  
    input {
      width: 100%;
    }
  }
  

}


