/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

a {
  color: var(--orange);
}

.bullet-list {
  list-style-type: disc;
  padding-left: 1em;
  font-size: 1.185rem;
  color: #2A303A;
}

.bullet-list li {
  margin-bottom: 0.6rem;
}

.bullet-list a {
  color: var(--orange);
  text-decoration: none;
}

table {
  display: inline-block;
  width: auto !important; 
  max-width: 100%;   
  overflow-x: auto;
  border-collapse: collapse;

  &.bordered {
    border: solid 2px #eee;

    td, th {
      padding:4px 8px;
    }
  }
}

.table-fixed {
  table-layout: fixed;
}

table.table-fixed h5 { 
  margin-bottom: 0px;
}

th {
  border-bottom: solid 3px var(--grey-light);
  padding: 4px 8px;
  background:  var(--grey-light);
}

th.sortable {
	cursor: pointer;
}

td {
  padding: 4px 8px;
  border-bottom: solid 1px var(--grey-light);
}

.cell-30 {
  width: 30%;
  vertical-align: middle;
}

.cell-35 {
  width: 35%;
  vertical-align: middle;
}

.cell-70 {
  width: 70%;
  vertical-align: middle;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.site-header {
  li {
    list-style: none;
  }
}

article {
  img {
    max-width: 100%;
  }
}

.guide-content {
  border-radius: var(--radius);
  border: solid 4px #eee;
  padding-top: Min(1vh, 15px);
  padding-right: Min(5vw, 30px);
  padding-bottom: Min(1vh, 30px);
  padding-left: Min(5vw, 30px);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: var(--footer-height);
}

/* Styles for blockquote alerts, aka admonitions or callouts */
// Source: https://github.com/KKKZOZ/hugo-admonitions

// Alert colors
$alert-colors: (
  caution:    #e64553,
  important:  #7D4DDA,
  note:       #096ae1,
  tip:        #179299,
  warning:    #df8e1d
);

// Base alert styles
.alert {
  margin: 1rem 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-left-width: 4px;
  border-left-style: solid;
  padding: 0.8rem 1rem;
  background: rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  
  p {
    margin: 0;
  }
}

// Alert headers
.alert-heading {
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

// Alert content
.alert-content > p {
  padding-top: 0.5rem;;
}

// Generate alert types
@each $type, $color in $alert-colors {
  .alert-#{$type} {
    border-left-color: $color;

    .alert-heading {
      color: $color;
    }
  }
}

/* END Styles for blockquote alerts */
