// Generate spacing for each size
@each $size in 0 10 20 30 40 70  {
  .p-#{$size} {
    padding: #{$size}px;
  }

  .m-#{$size} {
    margin: #{$size}px;
  }


  .px-#{$size} {
    padding-left: #{$size}px;
    padding-right:  #{$size}px;
  }
  .mx-#{$size} {
    margin-left: #{$size}px;
    margin-right:  #{$size}px;
  }

  .py-#{$size} {
    padding-top: #{$size}px;
    padding-bottom: #{$size}px;
  }
  .my-#{$size} {
    margin-top: #{$size}px;
    margin-bottom: #{$size}px;
  }

  .pr-#{$size} {
    padding-right: #{$size}px;
  }
  .mr-#{$size} {
    margin-right: #{$size}px;
  }

  .pl-#{$size} {
    padding-left: #{$size}px;
  }
  .ml-#{$size} {
    margin-left: #{$size}px;
  }

  .pt-#{$size} {
    padding-top: #{$size}px;
  }
  .mt-#{$size} {
    margin-top: #{$size}px;
  }

  .mb-#{$size} {
    margin-bottom: #{$size}px;
  }
  .pb-#{$size} {
    padding-bottom: #{$size}px;
  }
}

.bdr-btm {
  border-bottom: solid 1px var(--blue-border);
}
