.mr-20 {
  margin-right: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.p-30 {
  padding: 30px;
}

.p-40 {
  padding: 40px;
}

.pt-30 {
  padding-top: 30px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pr-70 {
  padding-right: 70px;
}
