.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.p-30 {
  padding: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}


.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
