

body {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, .as-h1 {
  font-size: 3.66665rem;
}

h2, .as-h2 {
  font-size: 2.5rem;
}

h3, .as-h3 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: var(--blue-dark);
}

h4, .as-h4 {
  font-size: 1.8333rem;
  margin-bottom: 30px;
}

p, blockquote  {
  font-size: 1.8333rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-bottom: 20px;
}

p.small {
  font-size: 1.5rem;
}

.text--blue {
  color: var(--blue);
}

.text--blue-dark {
  color: var(--blue-dark);
}

.text--blue-light {
  color: var(--blue-light);
}

.text--white {
  color: white
}

.text--orange {
  color: var(--orange);
}

.ta-c {
  text-align: center;
}
