@use "sass:meta";
:root {
  --blue: #4389FF;
  --blue-dark: #00549E;
  --blue-medium: #618aae;
  --blue-light: #BBDEFB;
  --blue--lightest: #F4FAFF;
  --blue-border: #DCEAFF;
  --blue-grey: #7e92a4;
  --orange: #FFA400;
  --orange-dark: rgb(191, 132, 22);;

  --bp-small: 480px;
  --bp-med: 950px;
  --bp-large: 1100px;
  --radius: 4px;
  --grey-light: #eee;
  --grey-medium: #444;
  --breakpoint-mobile: 650px;
  
  --footer-height: 120px;

}



@include meta.load-css('reset');
@include meta.load-css('components/button');
@include meta.load-css('components/card');
@include meta.load-css('components/accordion');
@include meta.load-css('components/slider');
@include meta.load-css('components/tree');
@include meta.load-css('components/breadcrumbs');
@include meta.load-css('components/search');
@include meta.load-css('components/scans');
@include meta.load-css('type');
@include meta.load-css('spacing');
@include meta.load-css('page');
@include meta.load-css('headers');
@include meta.load-css('layout');
@include meta.load-css('navigation');
@include meta.load-css('footer');
@include meta.load-css('form.scss');
@include meta.load-css('effects.scss');
@include meta.load-css('tables');
@include meta.load-css('pages/addons.scss');
@include meta.load-css('pages/homepage.scss');
@include meta.load-css('pages/download.scss');
@include meta.load-css('pages/blog.scss');
@include meta.load-css('pages/supporters.scss');
@include meta.load-css('terminal');
