:root {
  --blue: #4389FF;
  --blue-dark: #00549E;
  --blue-medium: #618aae;
  --blue-light: #BBDEFB;
  --blue--lightest: #F4FAFF;
  --blue-border: #DCEAFF;
  --blue-grey: #7e92a4;
  --orange: #FFA400;
  --orange-dark: rgb(191, 132, 22);;

  --bp-small: 480px;
  --bp-med: 950px;
  --bp-large: 1100px;
  --radius: 4px;
  --grey-light: #eee;
  --breakpoint-mobile: 650px;

}



@import 'reset';
@import 'components/button';
@import 'components/card';
@import 'components/accordion';
@import 'components/slider';
@import 'components/prism.css';
@import 'components/tree';
@import 'components/breadcrumbs';
@import 'type';
@import 'spacing';
@import 'page';
@import 'headers';
@import 'layout';
@import 'navigation';
@import 'footer';
@import 'form.scss';
@import 'effects.scss';
@import 'pages/homepage.scss';
@import 'pages/download.scss';
@import 'pages/blog.scss';


