:root {
  --blue: #4389FF;
  --blue-dark: #00549E;
  --blue-light: #BBDEFB;
  --blue--lightest: #F4FAFF;
  --blue-border: #DCEAFF;
  --orange: #FFA400;

}



@import 'type';
@import 'spacing';

button, .button {
  display: inline-block;
  min-width: 157px;
  padding: 0 1rem;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.button--blue {
  background: var(--blue);
}

.button--orange {
  background: var(--orange);
}

.bg--blue-lightest {
  background: var(--blue--lightest);
}

.bg--blue-gradient {
  background: linear-gradient(var(--blue-dark), var(--blue));
}

.flex {
  display: flex;
}
/*
  You can use import statements to include partials:
 */
@import 'pages/homepage.scss';


.grid {
  display: grid;
  grid-column-gap: 60px;
}

.grid__three-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid__four-col {
  grid-template-columns:  1fr 1fr 1fr 1fr;
}


.card {
  border: solid 1px var(--blue-border);
}
