/* Adapted from https://github.com/jiridj/hugo-macos-terminal */
/* window BEGIN */
.window {
	background: #fff;
	width: 65vw;
	max-height: 800px;
	max-width: 830px;
	min-width: 360px;
	margin: auto;
	margin-top: 3.5vh;
	margin-bottom: 3.5vh;
	overflow-y: auto;
	border: 1px solid #acacac;
	border-radius: 6px;
	box-shadow: 0px 0px 20px #acacac;
}

.window a {
	text-decoration: none;
}

.window span {
	line-height: 9px;
	vertical-align: 50%;
}

.titlebar {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb,
		color-stop(1.0, #d5d5d5)));
	background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
	background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
	background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
	background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
	background: linear-gradient(top, #ebebeb, #d5d5d5);
	color: #4d494d;
	font-size: 11pt;
	line-height: 22px;
	text-align: center;
	width: 100%;
	height: 22px;
	border-top: 1px solid #f3f1f3;
	border-bottom: 1px solid #b1aeb1;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	cursor: default;
}
/* window END */

/* terminal BEGIN */
.terminal {
	margin: 0;
	padding: 5px;
	list-style: none;
	background: #141414;
	color: #45D40C;
	font-family: "Courier New", "Courier", monospace;
	font-size: 1.0rem;
	line-height: 1.8em;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.terminal ul {
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 0;
}

.terminal li {
	width: 100%;
	word-wrap: break-word;
	white-space: pre-wrap;
	position: relative;
	padding: 0 0 0 15px;
	list-style: none;
}
/* terminal END */