{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}
{{ define "main" }}
<section class="bolt-header">
    <div class="wrapper py-20">
      <h1 class="text--white">{{ .Title }}</h1>
  </div>
</section>
{{ $section := .Site.GetPage "section" .Section }}
<div class="wrapper py-20" data-kind="{{ .Kind }}">
    <header class="breadcrumbs">
        <a href="/docs/">Docs</a> &gt;
        <a href="/docs/alerts/">Alerts</a>
    </header>
    <main class="post-content flex pt-10 on-sm-stack">
      <section class="col-1-3 mr-30 mb-30">
        <table class="bordered">
          <thead>
            <tr>
              <th colspan="2">
                Details
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Scan Rule ID</strong>
              </td>
              <td>{{ .Params.alertid }}</td>
            </tr>
            <tr> 
              <td>
                <strong>Alert Type</strong>
              </td>
              <td>{{ .Params.alerttype }}</td>
            </tr>
            <tr> 
              <td>
                <strong>Status</strong>
              </td>
              <td>{{ .Params.status }}</td>
            </tr>
          </tbody>
        </table>

      </section>
      <section class="col-2-3">
        <h3 class="mb-10">Alerts</h3>
        {{- $alertSlice := slice -}}
        {{- range $alertRef, $alert := .Params.alerts -}}
        {{- $parts := split $alertRef "-" -}}
        {{- $alertRefQualifier := index $parts 1 | int -}}
        {{- $alertSlice = $alertSlice | append (dict "qualifier" $alertRefQualifier "alert" $alert) -}}
        {{- end -}}
        {{ $sortedAlerts := sort $alertSlice "qualifier" }}
        <ul data-attr="alerts">
        {{ range $sortedAlerts }}
          <li>
            <a href="/docs/alerts/{{ .alert.alertid }}">{{ .alert.alertid }}</a> {{ .alert.name }}
          </li>
        {{ end }}
        </ul>
        <h4 class="mb-10">Code</h4>
          <a href='{{ .Params.code  }}'>
            {{ .Params.linktext }}
          </a>
      </section>
  </main>
</div>
{{ end }}

