{{ define "title" }}{{ .Site.Title }} &ndash; {{ .Title }}{{ end }}
{{ define "main" }}
<section class="bolt-header">
   <div class="wrapper py-20">
      <h1 class="text--white">{{ .Title }}</h1>
   </div>
</section>
<div class="wrapper py-20">
    <header class="breadcrumbs">
        <a href="/community/">Community</a>
    </header>
   {{ .Content }}
   <div class="flex latest-versions">
      <table>
         <thead>
            <tr>
               <th>Handle</th>
               <th>Name</th>
               <th>Role(s)</th>
            </tr>
         </thead>
         <tbody>
            {{ range (.Pages.ByParam "alertindex") }}
               <tr>
                  <td><a href="{{ .Permalink }}">{{ .Params.handle }}</a></td>
                  <td><a href="{{ .Permalink }}">{{ .Params.name }}</a></td>
                  <td>{{ .Params.roles }}</td>
               </tr>
            {{ end }}
         </tbody>
      </table>
   </div>
</div>
{{ end }}
